div.grid-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

img.preview {
  width: 100%;
  height: auto;
}

.preview-caption {
  flex-grow: 1;
  width: 0;
  padding: 0.75rem;
}

div.header {
  padding: 0.5rem !important;
  width: 100%;
}

a.header-link {
  line-height: 1.6;
  font-weight: bold;
}

div.header-details {
  margin-top: 0.5rem;
  font-size: smaller;
}

div.header-with-embed {
  opacity: 0;
  position: absolute;
  z-index: 1;
  transition: opacity 0.25s, z-index 0s 0.25s;
}

div.header-with-embed:hover {
  opacity: 1;
  z-index: 3;
  transition: opacity 0.25s;
}

div.header-with-embed-placeholder {
  position: absolute;
  z-index: -1;
}

div.header-with-embed div.linkblocker {
  position: absolute;
  height: 2em;
  z-index: 2;
  transition: z-index 0s 0.1s;
}

div.header-with-embed:hover div.linkblocker {
  z-index: -1;
}

div.embed {
  position: relative;
  overflow: hidden;
}

div.embed > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
